:root {
  font-family: 'roboto', sans-serif;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
}

/**
 * Root mount point of app
 */
.o-root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
